/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
  margin-bottom: 1px;
}


/*body*/

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  background: 100%;
  background: -webkit-gradient(linear, 0 1746, 960.5 0, color-stop(0.03, #5674ba), to(#de6e84));
  background: -webkit-linear-gradient(61.184167659727564deg, #5674ba 3%, #de6e84);
  background: -moz-linear-gradient(61.184167659727564deg, #5674ba 3%, #de6e84);
  background: -o-linear-gradient(61.184167659727564deg, #5674ba 3%, #de6e84);
  background: linear-gradient(28.815832340272436deg, #5674ba 3%, #de6e84);
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  height: auto;
  justify-content:center;
}
.left-button-column{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content:flex-center;
  order:2;
  width: 60px;
  margin-left: 50px;
  margin-top:0px;
  
}

.right-button-column{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content:flex-center;
  order:4;
  width:30px;
  margin-left:15px;
  margin-right: 50px;
  margin-top:0px;
  

  

}

.left-menu-wrapper {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  order: 1;
  text-align: center;
  border: none;
  background-color: white;
  margin: 0;
}

.left-menu-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 50px;
  text-align: left;
}

.checkboxes {
  margin-right: 60px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label div {
    font-family: 'Ionicons';
    display:inline-block;
    width:30px;
    height:30px;
    vertical-align:middle;
    background:#dbe5e9;
    cursor:pointer;
    
  
}

input[type="checkbox"] + label div:hover {
  border: 1px solid #c5cdd1;
}

input[type="checkbox"]:checked + label div:before {
    font-family: 'Ionicons';
    color:#004f91;
    font-size: 15px;
    font-weight: bolder;
    width:30px;
    height:30px;
    background:#dbe5e9;
    cursor:pointer;
    content:"\f2d7";
    z-index: 777;
    margin-left:10px;
    vertical-align: -5px;
    
    
 
}

input[type="checkbox"]:checked + label div:before:checked {
    border:1px solid #c5cdd1;
}

.left-menu-item {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  text-transform: uppercase;
  justify-content: space-between;
  margin-bottom: 20px;
  font-family: 'nexa_rust_sansblack';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  


}

.language {
  margin-top: 3px;
}

.right-menu-wrapper {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  order: 3;
  text-align: center;
  border: none;
  background-color: white;
  margin: 0;
}

.right-menu-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 70%;
  justify-content: flex-start;
  padding-top: 65px;
  padding-left: 50px;
  text-align: left;
  margin: 0;
}

.right-menu-item {
  text-transform: uppercase;
  margin-bottom: 28px;
  font-family: 'nexa_rust_sansblack';
  font-weight: normal;
  font-style: normal;
  font-size: 14px !important;
  color: #004f91;
}

.right-menu-item:hover {
  color: #249cde;
  cursor: pointer;
}

.content-wrapper {
  -webkit-ordinal-group: 2;
  -webkit-box-flex: 2;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 2;
  /* OLD - Firefox 19- */
  -webkit-flex: 2;
  /* Chrome */
  -ms-flex: 2;
  /* IE 10 */
  flex: 2;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  order: 2;
  text-align: center;
  border: none;
  width: 1140px;
  height: 100%;
  width:1180px;
  margin-right:30px;
  margin-left:60px;
}

.fa-filter {
  font-size: 22px;
  color: #ffffff;
  text-decoration: none;
  z-index:12000;
  margin-top: 60px;
 }
 .fa-filter:hover{
  cursor: pointer;
 } 

.fa-circle {
  font-size: 8px;
  color: #d7d7d7;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 4px;
}

@font-face {
  font-family: 'ioniconsmedium';
  src: url('../fonts/ionicons-webfont.eot');
  src: url('../fonts/ionicons-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ionicons-webfont.woff2') format('woff2'), url('../fonts/ionicons-webfont.woff') format('woff'), url('../fonts/ionicons-webfont.ttf') format('truetype'), url('../fonts/ionicons-webfont.svg#ioniconsmedium') format('svg');
  font-weight: normal;
  font-style: normal;
  font-size: 66px !important;
}

@font-face {
  font-family: "Ionicons";
  src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");
  src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.ion-close {
  font-size: 22px;
  color: #ffffff;
  text-decoration: none;
  margin-right: -55px;
  margin-bottom: 13px;
  font-weight: 200;
  z-index:12000;
  margin-top:60px;
  
}
.ion-close:hover{
  cursor:pointer;
}
.ion-android-close {
  font-size: 22px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 200;
  z-index:12000;
  margin-left:10px;
}
.ion-android-close:hover{
  cursor: pointer;

}

#minus {
  font-family: sans-serif;
  font-weight: 800;
}

.glyphicon-menu-hamburger {
  font-size: 22px;
  color: #ffffff;
  text-decoration: none;
  z-index:12000;
  margin-top:60px;
  
  
}
.glyphicon-menu-hamburger:hover{
  cursor:pointer;
}

.button-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 1140px;
  justify-content: space-between;
  margin-top: 30px;
}



@font-face {
    font-family: 'nexa_rust_sansblack';
    src: url('../fonts/fontfabric_-_nexa_rust_sans_black-webfont.eot');
    src: url('../fonts/fontfabric_-_nexa_rust_sans_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontfabric_-_nexa_rust_sans_black-webfont.woff2') format('woff2'),
         url('../fonts/fontfabric_-_nexa_rust_sans_black-webfont.woff') format('woff'),
         url('../fonts/fontfabric_-_nexa_rust_sans_black-webfont.ttf') format('truetype'),
         url('../fonts/fontfabric_-_nexa_rust_sans_black-webfont.svg#nexa_rust_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size:66px !important;

}
.header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: inherit;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.headertitle{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.headertitle:hover{
  cursor: pointer;
}

.header div {
  font-family: 'nexa_rust_sansblack';
  font-weight: normal;
  font-style: normal;
  font-size: 66px !important;
  margin: 2px;
}

.bluetitle {
  color: #003765;
}

.whitetitle {
  color: #ffffff;
}

.glyphtitle {
  position: relative;
  margin-top: 18px;
  font-family: none;
  font-size: 60px;
  color: #003765;
}
.video-container{
  display: -webkit-flex;
  display: flex;
  margin-top:30px;

  
}
#playerclose{
  display: -webkit-flex;
  display: flex;
  width:100px;
  height:100px;
  
}
#playerclose:hover{
  cursor:pointer;
}
.videoplayer{
  display: -webkit-flex;
  display: flex;
  flex-wrap:wrap;
  -webkit-flex-wrap: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}
.videopopup{
  display: -webkit-flex;
  display: flex;
  flex-direction:column;
  -webkit-flex-direction:column;

}
.videoinfo{
  display: -webkit-flex;
  display: flex;
  flex-direction:row;
  -webkit-flex-direction:row;
  justify-content:space-between;
  width:930px;
  margin-left:0px;
  margin-top: 30px;

}
.videoinfoleft{
  display: -webkit-flex;
  display: flex;
  flex-direction:column;
  justify-content:flex-start;
  -webkit-flex-direction:column;
  width:90%;
  margin-left:0px;

}
.videogamename{
  display: -webkit-flex;
  display: flex;
  font-family: "nexa_rust_sansblack" ,"sans-serif";
  font-size: 30px !important;
  text-transform: uppercase;
  order:1;
  color:#000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: '...';

}
.viewsanddate{
  display: -webkit-flex;
  display: flex;
  flex-direction:row;
  -webkit-flex-direction:row;
  justify-content:flex-start;
  order:2;
  margin-top:10px;
  color:#fff;

}
.videoviews{
  display: -webkit-flex;
  display: flex;
  font-size:14px;
  font-family: "nexa_rust_sansblack" ,"sans-serif";
  line-height: 1.2;

}
.videoviews span{
  padding-left:10px;

}
.videodate{
  
  font-size:14px;
  font-family: "nexa_rust_sansblack" ,"sans-serif";

}
.videodate span{
   padding-left:3px;
}

.videoinforight{
  display: -webkit-flex;
  display: flex;
  flex-direction:row;
  -webkit-flex-direction:row;
  margin-right:25px;
  justify-content:flex-end;
}


.streams-wrapper {
  display: -webkit-flex;
  display: flex;
  flex-wrap:wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 200px;
  width:1180px;
}


.stream {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 360px;
  height: 410px;
  background-color: #ffffff;
  margin-top: 0;
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.stream:hover {
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}


}
.stream:first-child {
  margin-left: 0px;
}
.stream:last-child {
  margin-right: 0px;
}

.stream-header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  
  width: 360px;
  height: 120px;
  padding-top: 30px;
  background-size:100% 100%;
  background-repeat: no-repeat;
  opacity:0.8;
  background-color: rgb(0, 79, 145); 
  cursor: pointer;
}



.avatar {
  display: -webkit-flex;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 15px;
  width: 60px;
  height: 60px;
  opacity: 1;
  background-color: #ffffff;
  background-size: 100% 100%;
  z-index:30;
  background-image: url(http://vignette4.wikia.nocookie.net/jamesbond/images/6/61/Generic_Placeholder_-_Profile.jpg/revision/latest?cb=20121227201208);
}
.player-name {
  display: -webkit-flex;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #ffffff;
  width: 70%;
  height: 60px;
  margin-top: 20px;
  float: left;
}
.stream-preview {
  max-width:100%;
  max-height:100%;
  background-color: #000000;
  margin: 0;
  -webkit-ordinal-group: 2;
  -webkit-box-flex: 2;
  /* OLD - iOS 6-, Safari 3.1-6 */
  
  -moz-box-flex: 2;
  /* OLD - Firefox 19- */
  
  -webkit-flex: 2;
  /* Chrome */
  
  -ms-flex: 2;
  /* IE 10 */
  
  flex: 2;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  
  order: 2;
}
.stream-preview img{
  width: 100%;
  height:100%;
}



.stream-info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  height: 90px;
  order: 3;
  border: 0 1 1 1 solid #edf2f4;
  max-width: 360px;
}
.gamename {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  order: 1;
  margin-left: 20px;
  margin-top: 12px;
  margin-bottom: 15px;
  font-family: "nexa_rust_sansblack" ,"sans-serif";
  font-size: 16px;
  text-transform: uppercase;
  color: #004f91;
  width: 300px;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: '...';

}


.viewdaterow {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  order: 2;
}
.viewcount {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  color: #5e676a;
  font-size: 12px;
  font-family: "nexa_rust_sansblack";
  margin-left: 20px;
}
.viewcount i {
  display: -webkit-flex;
  display: flex;
  margin-right: 6px;
  width: 10px;
  height: 10px;
  margin-top: 1px;
}
.date {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  color: #5e676a;
  font-size: 12px;
  font-family: "nexa_rust_sansblack";
}
.loadmore {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  height: 200px;
  margin-bottom: 50px;
}
#loadbutton {
  display: -webkit-flex;
  display: flex;
  justify-content:center;
  border-radius: 50%;
  cursor: pointer;
  font-family: 'nexa_rust_sansblack';
  font-size: 10px;
  word-wrap: break-word;
  text-transform: uppercase;
  width: 100px;
  height: 100px;
  border: 1px solid #8180b4;
  color: #ffffff;
  
}
#loadbutton:hover {
  border: 1px solid #8099b4;
}
#buttontext {
  margin-top: 35px;

}
